
    body {
      text-align: center;
      font-family: sans-serif, arial;
      font-weight: 500;
      word-break: break-word;
      overflow-wrap: break-word;
    }

    .kutu {
      margin: 40px 20px;
      padding: 12px;
      border: 1px solid gray;
      border-radius: 3px;
      background: #eee;
    }
    
    a {
      color: blue;
      display: block;
    }
  
