
    body {
      text-align: center;
      font-family: sans-serif, arial;
      font-weight: 500;
      word-break: break-word;
      overflow-wrap: break-word;
    }

    .kutu {
      margin: 40px 20px;
      padding: 16px;
      border: 2px solid black;
      border-radius: 5px;
    }
    
    a {
      color: blue;
    }
  
